:root{
    --branco-principal:#ffff;
    --cinza-secundario:#c0c0c0;
    --botao-azul:#167bf7;
    --cor-de-fundo:#00030c;

}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}
*{
    margin: 0;
    padding: 0;
}
.principal { 
    background-image: url("https://i.ytimg.com/vi/8xYsXrsc75I/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    margin-left: 50%; 
    
 }

.container{ 
    height: 100vh; 
}
.container_botao{
    background-color: var(--botao-azul);
    border-radius: 500px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
}
